
/* Your CSS Code here. */

* {
    margin: 10px 0;
}

.free {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
}

.free .rand {

    color: black;
    background-color: #f8fffe;
    width: 200px;
    height: 150px;
}
